@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: 'Muli';
}

.colors {
  grid-area: colors;
}

.control {
  grid-area: control;
}

.typography {
  grid-area: typography;
}

.breakpointSection {
  grid-area: breakpointSection;
}

.themecode {
  grid-area: themecode;
}

.colordiv--active {
  box-shadow: 0 0 16px 12px rgba(12, 12, 12, 0.2) ;
}
